html,
body {
  margin: 0;
  padding: 0;
}

.shadow {
  box-shadow: 1px 2px 8px 0px rgba(0, 0, 0, 0.34);
}
.big-radius {
  border-radius: 20px;
}
.small-radius {
  border-radius: 10px;
}

/* ---------------------- Navbar styles ---------------------- */

/* Container */
.nav-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 30px;
}

/* Navigation Bar */
.navbar {
  min-height: 80px;
  background-color: #ffffff;
  padding: 10px 30px;
  margin: 10px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}

/* Icon and Application Name Container */
.icon-container {
  display: flex;
  align-items: center;
}

/* Contact Us Button */
.contact-us-button {
  color: #000000;
  background-color: transparent;
  border: 1px solid #000000;
  padding: 0.5rem 1rem;
  margin: 10px 25px;
  font-weight: 600;
}

.contact-us-button:hover {
  background-color: #000000;
  color: #ffffff;
}

/* Try It Now! Button */
.try-it-button {
  color: #ffffff;
  background-color: #000000;
  padding: 0.5rem 1rem;
  font-weight: 700;
}

.try-it-button:hover {
  background-color: #2563eb;
}

/* ---------------------- Body styles ---------------------- */
/* Overall Container */
.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 30px;
}
.form {
  min-height: 80px;
  background-color: #ffffff;
  padding: 10px 30px;
  margin: 10px 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
}

/* Section Heading */
.heading {
  color: #4a5568;
  font-size: 1.125rem;
  font-weight: 600;
  width: 100%;
  box-sizing: border-box;
}

/* Input Fields */
.input-field {
  width: 100%;
  background-color: #f7fafc;
  color: #4a5568;
  border: 1px solid #d2d6dc;
  padding: 0.75rem 1rem;
  line-height: 1.25;
  box-sizing: border-box;
}

.input-field:focus {
  width: 100%;
  outline: none;
  background-color: #ffffff;
  border-color: #3182ce;
  box-sizing: border-box;
}

/* Submit Button */
.submit-button {
  background-color: #3182ce;
  color: #ffffff;
  font-weight: 700;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #2c5282;
}

.submit-button:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.5);
}

/* ---------------------- block styles ---------------------- */
.block-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 30px;
}
.block {
  min-height: 400px;
  background-color: #ffffff;
  padding: 10px 30px;
  margin: 5px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}
