/* Container */
.container {
  min-height: 100vh; /* Full screen height */
  background-color: #f7fafc; /* bg-gray-100 */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem; /* pt-8 */
}

/* Navigation Bar */
.navbar {
  background-color: #ffffff; /* bg-white */
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05); /* Example shadow, adjust as needed */
  border-radius: 0.5rem; /* rounded-lg */
  margin-bottom: 1rem; /* mb-4 */
  padding: 1rem 1.5rem; /* py-4 px-6 */
  width: 100%;
  max-width: 64rem; /* max-w-4xl */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Icon and Application Name Container */
.icon-container {
  display: flex;
  align-items: center;
}

/* Contact Us Button */
.contact-us-button {
  color: #1c64f2; /* text-blue-700 */
  background-color: transparent;
  border: 1px solid #3b82f6; /* border-blue-500 */
  padding: 0.5rem 1rem; /* py-2 px-4 */
  border-top-left-radius: 0.25rem; /* rounded-l */
  border-bottom-left-radius: 0.25rem;
  font-weight: 600; /* font-semibold */
}

.contact-us-button:hover {
  background-color: #3b82f6; /* hover:bg-blue-500 */
  color: #ffffff; /* hover:text-white */
}

/* Try It Now! Button */
.try-it-button {
  color: #ffffff; /* text-white */
  background-color: #3b82f6; /* bg-blue-500 */
  padding: 0.5rem 1rem; /* py-2 px-4 */
  border-top-right-radius: 0.25rem; /* rounded-r */
  border-bottom-right-radius: 0.25rem;
  font-weight: 700; /* font-bold */
}

.try-it-button:hover {
  background-color: #2563eb; /* hover:bg-blue-700 */
}
